:root {
    --main: #2a2822;
    --second: #978e70;
    --third: #525049;
    --light: #d0c6a6;
    --bg: #373429b1;
}

    /*Box Sizing, para que el padding no sume pixeles sino que use los asignados*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10px*/ 
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--main);
    font-size: 16px;  /*1 rem = 10px*/
    font-family: 'Lexend Deca', sans-serif;
}

h1 {
    font-size: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--second);
    font-weight: 100;
    text-align: center;
}

    /*Aqui el codigo*/

.org {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.margencontenedor {
    width: 100rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.container {
    width: 100rem;
    /* Para margin: Arriba, derecha, abajo e izquierda*/
    margin: 0 auto;
}

    /*Barra de navegación*/
.bgnavegacion {
    background-color: var(--light);
}

.navegacion {
    display: flex;
    justify-content: space-between;
}

.navegacion a {
    color: var(--main);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
}

.navegacion a:hover {
    color: var(--second);
    background-color: var(--third);
}
    
    /*Margen y texto*/
.margborder {
    margin: 2rem 2rem 2rem 2rem;
}

.margborder p {
    line-height: 1.2;
    color: var(--light);
    font-family: 'Rokkitt', serif;
    text-align: center;
}

    /*Multimedia*/
.media {
    margin: 4rem auto;
}

.youtube {
    border: 0.5rem solid var(--third);;
}

.survey {
    text-align: center;
    margin: 4rem auto;
}

    /*Swal*/
.swal-overlay {
    background-color: var(--bg);
}

.swal-modal {
    background-color: var(--main);
    border-radius: 0;
    border: 0.3rem solid var(--second);
}

.swal-title {
    font-size: 3rem;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--second);
    font-weight: 100;
}

.swal-text {
    text-align: center;
    color: var(--light);
    font-size: 1.6rem;
    font-family: 'Rokkitt', serif;
}

.swal-button {
    border-radius: 0;
    background-color: var(--second);
    font-family: 'Lexend Deca', sans-serif;
    color: var(--third);
    font-size: 1.2rem;
    border: 0.3rem solid var(--third);
}

    /*Carrusel*/
.carousel-inner {
    max-height: 80rem;
}